/**
 * Plugin MSHE Meet Ups CSS
 */
 
/*

Core style

*/ 
 
 #wrapper {
  padding-left: 50px;
  transition: all 0.4s ease 0s;
  overflow: visible;
}

#sidebar-wrapper {
  margin-left: -50px;
  left: 50px;
  width: 50px;
  background: #1F3A4D;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  top: 0;
  overflow: visible;
}

#page-content-wrapper {
  width: 100%;
}
.loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: rgba(20, 20, 20, 0.8);
    width: 100%;
    height: 100vh;
}

.loading img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
} 

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 50px;
  list-style: none;
  margin: 0;
  padding: 64px 0 0 0;
  text-align: center;
  font-size: 20px;
  overflow: visible;
  z-index: 200;
}

.sidebar-nav a {
    color: #fff;
    padding: 15px 0;
    display: block;
    width: 100%;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
.sidebar-nav a.active {
    background-color: #3a7297;
    border-left-color: #4A8DBA;
}
.sidebar-nav a:hover {
    background-color: #3a7297;   
}

.sidebar-brand {
    margin-bottom: 70px;   
}

.hero {
    background: #ffffff!important;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50px;
    padding: 10px 15px 0 65px;
    height: 139px;
}

.hero h3 {
    padding: 20px 0 5px 0;   
    font-size: 24px;
}

.hero form,
.hero .input-group {
    position: absolute;
    top: 30px;
    right: 15px;
}

.hero .input-group {
    width: 300px;   
}

.hero .page-title {
    color: #3a7297;   
}

.mm-container {
    margin-top: 139px;   
}

.panel-heading i {
    color: #3a7297;
}

.center {
    text-align: center;   
}

.number-success {
    color: #5CB85C;   
}
.number-warning {
    color: #F0AD4E;
}
.number-danger {
    color: #D9534F;   
}
/*

Flexible Style

*/

h1, h2, h3, h4, p, a, blockqoute, q {
    font-family: sans-serif;   
}

h1 {
    margin-top: 10px;
}

p {
    color: #444;  
    line-height: 1.5em;
}

h2 {
    padding: 5px 0;
    color: #3a7297;
    font-size: 1.8em;
}
.number {
    font-size: 4em;
    padding-top: 10px;
    margin-bottom: 0px;
}

h4 {
    text-transform: uppercase;
    font-weight: 600;
    color: #444;
}

.placeholder {
    color: #999;
    margin-bottom: 25px;
}

.details {
    margin: -15px 0 0;   
}

.card-deck {
  display: inline-flex
}

.card {
    width: 350px; 
    margin: 0 15px;  
}

.wide-modal {
    width: 100%!important;   
}

label {
    font-weight: 500;   
}

.input-group-addon {
    color: #3A7297;   
}





