<script type="text/ng-template" id="mshe-meet-ups-main">
  <div class="loading" ng-show="loading">
    <img src="https://northwestern.box.com/shared/static/sg0tko4g14tphru6x1ubccsgpmip0787.gif">
  </div>
  <div id="wrapper">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand"><a href="https://platform.zenginehq.com/workspaces/19219/plugin/mshemeetups"><i class="icon-users"></i></a></li>
        <li><a ng-click="reset()" tooltip-placement="right" tooltip="Dashboard" ng-class="{ active: currentPage == 'dashboard' }" href="https://platform.zenginehq.com/workspaces/19219/plugin/mshemeetups/dashboard" title="Dasboard"><i class="icon-th-large"></i></a></li>
        <li><a ng-click="reset()" tooltip-placement="right" tooltip="Matching" ng-class="{ active: currentPage == 'matching' }" href="https://platform.zenginehq.com/workspaces/19219/plugin/mshemeetups/matching" title="Matching"><i class="icon-tasks"></i></a></li>
        <li><a ng-click="reset()" tooltip-placement="right" tooltip="Alumni Profiles" ng-class="{ active: currentPage == 'profiles' }" href="https://platform.zenginehq.com/workspaces/19219/plugin/mshemeetups/profiles" title="Alumni Profiles"><i class="icon-address-book-o"></i></a></li>
        <li>
          <a ng-click="reset()" tooltip-placement="right" tooltip="Communication" ng-class="{ active: currentPage == 'communication' }" href="https://platform.zenginehq.com/workspaces/19219/plugin/mshemeetups/communication" title="Communication Dashboard"><i class="icon-mail"></i></a>
        </li>
        <li>
          <a ng-click="reset()" tooltip-placement="right" tooltip="Help" ng-class="{ active: currentPage == 'help' }" href="https://platform.zenginehq.com/workspaces/19219/plugin/mshemeetups/help" title="Help"><i class="icon-question-circle-o"></i></a>
        </li>
      </ul>
    </div>
    <div id="page-content-wrapper">
      <div class="page-content">
        <div ng-include="'mshe-meet-ups-' + currentPage"></div>
      </div>
    </div>
  </div>
</script>
<script type="text/ng-template" id="mshe-meet-ups-dashboard">
  <div class="hero">
    <h3><span class="page-title">Dashboard</span> | MSHE MeetUps</h3>
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <select class="form-control" ng-model="quarter" name="quarter" ng-options="quarter.field411199 for quarter in quarters" ng-change="pickQuarter(quarter.field411199)">
            <option value=''>Show All</option>
          </select>
          <div class="input-group-addon"><i class="icon-filter"></i></div>
        </div>
        <a class="btn btn-primary" href="https://platform.zenginehq.com/workspaces/19219/data/48096?record=48096.add&tab=linked"><i class="icon-plus"></i> Add Quarter</a>
      </div>
    </form>
  </div>
  <div class="mm-container">
    <br>
    <div class="row">
      <div class="col-xs-4 center">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="number">{{ (matches | filter:{field410925:quarter.name}).length }}</h3>
          </div>
          <div class="panel-footer">Total Matches</div>
        </div>
      </div>
      <div class="col-xs-4 center">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="number">{{ (students | filter:{field356694:quarter.name}).length }}</h3>
          </div>
          <div class="panel-footer">Total Student Participants</div>
        </div>
      </div>
      <div ng-if="!quarter.name" class="col-xs-4 center">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="number">{{ (alumni | filter:{field356695:quarter.name}).length }}</h3>
          </div>
          <div class="panel-footer">Total Alumni Participants</div>
        </div>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-primary pull-right" ng-click="sendData(quarter.name)"><i class="icon-download"></i> Download Table</button>
        <h2>All Matches:</h2>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>Student</th>
              <th>Alumn</th>
              <th>Quarter</th>
            </tr>
            <tr ng-repeat="match in matches | filter:{field410925:quarter.name}">
              <td>{{ match.field356698.name }}</td>
              <td>{{ match.field356696.name }}</td>
              <td>{{ match.field410925 }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</script>

  <script type="text/ng-template" id="mshe-meet-ups-matching">

    <div class="hero">
      <h3><span class="page-title">Matching</span> | MSHE MeetUps</h3>
      <ul class="nav nav-tabs small">
        <li ng-class="{ 'active' : sorter == 'created'}"><a href="#" ng-click="order('created')">Time Submitted</a></li>
        <li ng-class="{ 'active' : sorter == 'field356702'}"><a href="#" ng-click="order('field356702')">Alphabetical</a></li>
      </ul>
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <select class="form-control" ng-model="quarter" name="quarter" ng-options="quarter.field411199 for quarter in quarters" ng-change="pickQuarter(quarter.field411199)">
              <option value=''>Filter by Quarter</option>
            </select>
            <div class="input-group-addon"><i class="icon-filter"></i></div>
          </div>
          <a class="btn btn-primary" href="https://platform.zenginehq.com/workspaces/19219/data/48096?record=48096.add&tab=linked"><i class="icon-plus"></i> Add Quarter</a>
        </div>

      </form>

    </div>
    <div class="mm-container">
      <div class="row">
        <div class="col-xs-3">
          <div class="panel panel-default">
            <div class="panel-heading">Students</div>
            <div class="list-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Students" aria-describedby="basic-addon1" ng-model="search">
                <span class="input-group-addon" id="basic-addon1"><i class="icon-search"></i></span>
              </div>
              <a href="#" ng-click="pickStudent(student); setStudentNumber($index); setAlumnusNumber({})" class="list-group-item" ng-repeat="student in students | orderBy:sorter | filter:{'field356694':quarter.name} | filter:search" ng-class="{ 'active': $index == StudentNumber, 'list-group-item-info' : matched.student.indexOf(student.name) >= 0 }"><span ng-hide="quarter != ''" class="label label-default">{{ student.field356694 }}</span> <span class="badge">{{ (matches | filter:{'field356698':student.id}).length }}</span>{{ student.field356679 }} {{ student.field356702 }}</a>
            </div>
          </div>
        </div>
        <div class="col-xs-5 col-md-6" ng-repeat="student in students | filter:{id:studentId}" ng-if="studentId != null">
          <h2>{{ student.field356679 }} {{ student.field356702 }}</h2>
          <p><span class="label label-info" ng-repeat="student in students | filter:{name:student.name}">{{ student.field356694 }}</span></p>
          <div class="panel panel-default">
            <div class="panel-heading">Reason to Participate</div>
            <div class="panel-body">
              <p>{{ student.field358640 }}</p>
            </div>
          </div>
          <h3>MeetUp Match Preferences</h3>
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading"><i class="icon-tag"></i> Interest Areas</div>
                <div class="panel-body">
                  <p ng-repeat="interest in student.field356707"> {{ interest }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading"><i class="icon-tasks"></i> Career Level</div>
                <div class="panel-body">
                  <p ng-repeat="years in student.field358633"> {{ years }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading"><i class="icon-location"></i> Preferred Location</div>
                <div class="panel-body">
                  <p> <span ng-if="student.field361435 != 'Other'">Chicagoland area preferred</span><span ng-if="student.field361435 == 'Other'">Any location</span></p>
                </div>
                <div class="panel-footer" ng-if="student.field361436 != null"><em>comments: {{ student.field361436 }}</em></div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading"><i class="icon-bank"></i> Institutional Level</div>
                <div class="panel-body">
                  <p ng-repeat="level in student.field358637"> {{ level }}</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- Student details section -->
        <div class="col-xs-4 col-md-3" ng-if="studentId != null">
          <h4>Current Matches</h4>
          <div class="list-group">
            <a href="#" class="list-group-item" ng-repeat="match in matches | filter:{'field356698':studentId}" ng-click="onMatchAlumnus(match)"> {{ match.field356696.name }}</a>
          </div>
          <p ng-hide="(matches | filter:{'field356698':studentId}).length"><span class="placeholder">No matches added yet</span></p>
          <h4 ng-show="(matches | filter:{'field356698':studentName} | filter:{'field410925': '!' + studentQuarter}).length">Past Matches</h4>
          <div class="list-group" ng-show="(matches | filter:{'field356698':studentName} | filter:{'field410925': '!' + studentQuarter}).length">
            <a href="#" class="list-group-item" ng-repeat="match in matches | filter:{'field356698':studentName} | filter:{'field410925': '!' + studentQuarter}" ng-click="onMatchAlumnus(match)"> {{ match.field356696.name }} <span class="label label-default">{{ match.field410925 }}</span></a>
          </div>
          <h4>Preferred Matches</h4>
          <div class="list-group">
            <a href="#" ng-repeat="item in matchStrength | orderBy:'-value' | filter:greaterThan('value',80)" class="list-group-item" ng-click="onAlumnus(item)"><span class="label" ng-class="{'label-warning':item.value > 30 && item.value < 80, 'label-success':item.value >= 80, 'label-danger':item.value <= 30}">{{ item.value }}</span> {{ item.name }}</a>
          </div>
          <p ng-hide="(matchStrength | filter:greaterThan('value',80)).length"><span class="placeholder">No preferred matches at this time</span></p>
          <h4>Other Alumni</h4>
          <div class="list-group">
            <a href="#" ng-repeat="item in matchStrength | orderBy:'-value'" class="list-group-item" ng-if="item.value < 80" ng-click="onAlumnus(item)"><span class="label" ng-class="{'label-warning':item.value > 30 && item.value < 80, 'label-success':item.value >= 80, 'label-danger':item.value <= 30}">{{ item.value }}</span> {{ item.name }}</a>
          </div>
        </div>
      </div>

    </div>
  </script>

  <script type="text/ng-template" id="mshe-meet-ups-profiles">

    <div class="hero">
      <h3><span class="page-title">Alumni Profiles</span> | MSHE MeetUps</h3>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Alumni" aria-describedby="basic-addon1" ng-model="search">
        <span class="input-group-addon" id="basic-addon1"><i class="icon-search"></i></span>
      </div>
      <ul class="nav nav-tabs small">
        <li ng-class="{ 'active' : profileSorter == '-field546404'}"><a href="#" ng-click="profileOrder('-field546404')">Active Status</a></li>
        <li ng-class="{ 'active' : profileSorter == 'field356703'}"><a href="#" ng-click="profileOrder('field356703')">Alphabetical</a></li>
      </ul>


    </div>
    <div class="mm-container">
      <div class="card-deck" ng-repeat="alumnus in alumni | orderBy:[profileSorter,'field356703'] | filter:search">
        <div class="card">
          <div class="panel panel-default">
            <div class="panel-heading"><span class="badge">{{ alumnus.field356697 | number:0 }}</span> {{ alumnus.name }}, MS{{ alumnus.field356705 | limitTo: -2 }} <span ng-if="alumnus.field546404 == 'true'" class="label label-success align-right">Active</span></div>
            <a href="https://platform.zenginehq.com/workspaces/19219/data/42255?record=42255.{{alumnus.id}}&tab=linked">
              <div class="panel-body">
                <p>{{ alumnus.field356686 }}</p>
                <p class="placeholder details">{{ alumnus.field356687 }}</p>
              </div>
            </a>
            <div class="panel-footer"><small class="text-muted">Last updated {{ alumnus.modified | date:"MM/dd/yyyy 'at' h:mma"}}</small></div>
          </div>
        </div>
      </div>

    </div>

  </script>

  <script type="text/ng-template" id="mshe-meet-ups-communication">

    <div class="hero">
      <h3><span class="page-title">Communication</span> | MSHE MeetUps</h3>
      <ul class="nav nav-tabs small">
        <li ng-class="{ 'active' : communicationType == 'students'}"><a href="#" ng-click="communicationChange('students')">Students</a></li>
      </ul>

      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <select class="form-control" ng-model="quarter" name="quarter" ng-options="quarter.field411199 for quarter in quarters" ng-change="pickQuarter(quarter.field411199)">
              <option value=''>Filter by Quarter</option>
            </select>
            <div class="input-group-addon"><i class="icon-filter"></i></div>
          </div>
          <a class="btn btn-primary" href="https://platform.zenginehq.com/workspaces/19219/data/48096?record=48096.add&tab=linked"><i class="icon-plus"></i> Add Quarter</a>
        </div>

      </form>

    </div>
    <div class="mm-container">
      <div class="row">
        <div class="col-xs-3" ng-if="communicationType == 'students'">
          <div class="panel panel-default">
            <div class="panel-heading">Students</div>
            <div class="list-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Students" aria-describedby="basic-addon1" ng-model="search">
                <span class="input-group-addon" id="basic-addon1"><i class="icon-search"></i></span>
              </div>
              <a href="#" ng-click="pickStudent(student); setStudentNumber($index); setAlumnusNumber({})" class="list-group-item" ng-repeat="student in students | orderBy:sorter | filter:{'field356694':quarter.name} | filter:search" ng-class="{ 'active': $index == StudentNumber, 'list-group-item-info' : matched.student.indexOf(student.name) >= 0 }"><span ng-hide="quarter != ''" class="label label-default">{{ student.field356694 }}</span> <span class="badge">{{ (matches | filter:{'field356698':student.id}).length }}</span>{{ student.field356679 }} {{ student.field356702 }}</a>
            </div>
          </div>
        </div>
        <div class="col-xs-9" ng-repeat="student in students | filter:{id:studentId}" ng-if="studentId != null">
          <h2>Send email to {{ student.name }}</h2>
          <form>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">TO</span>
                <input type="text" class="form-control" ng-model="$parent.$parent.$parent.emailTo" placeholder="email@example.com" aria-describedby="basic-addon1">
              </div>
              <span id="helpBlock" class="help-block">Use a comma to seperate multiple emails.</span>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">CC</span>
                <input type="text" class="form-control" ng-model="$parent.$parent.$parent.emailCC" placeholder="email@example.com" aria-describedby="basic-addon1">
              </div>
              <span id="helpBlock" class="help-block">Use a comma to seperate multiple emails.</span>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">BCC</span>
                <input type="text" class="form-control" ng-model="$parent.$parent.$parent.emailBCC" placeholder="email@example.com" aria-describedby="basic-addon1">
              </div>
              <span id="helpBlock" class="help-block">Use a comma to seperate multiple emails.</span>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Subject</span>
                <input type="text" class="form-control" placeholder="MSHE MeetUp Match" aria-describedby="basic-addon1" ng-model="$parent.$parent.$parent.emailSubject">
              </div>
            </div>

            <div class="form-group">
              <label>Message (optional)</label>
              <textarea class="form-control" rows="15" ng-model="$parent.$parent.$parent.emailBody"></textarea>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">Meetup Match Information (Included by default on all messages)</div>
              <div class="panel-body">
                <div ng-repeat="match in matches | filter:{'field356698':studentId}">
                  <p ng-repeat="alumnus in alumni | filter:{id:match.field356696.id }">
                    <strong>{{ alumnus.name }}</strong>
                    <br> {{ alumnus.field356686 }},
                    <br> {{ alumnus.field356687 }}
                    <br>
                    <i class="icon-location"></i> {{ alumnus.field356688 }}, {{ alumnus.field356689 | limitTo: -2 }}
                    <br> {{ alumnus.field356691 }}
                  </p>
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-primary right" ng-click="sendEmail()"><i class="icon-paper-plane"></i> Send</button>
          </form>
        </div>
      </div>
    </div>

  </script>

  <script type="text/ng-template" id="mshe-meet-ups-help">

    <div class="hero">
      <h3><span class="page-title">Help</span> | MSHE MeetUps</h3>
      <ul class="nav nav-tabs small">
        <li class="active"><a href="#matching">Matching</a></li>
        <li class="active"><a href="#profiles">Alumni Profiles</a></li>
        <li class="active"><a href="#communication">Communications Dashboard</a></li>
      </ul>

    </div>
    <div class="mm-container">
      <h2 id="matching">Matching Students and Alumni</h2>
      <h4>How do I add a match to a student?</h4>
      <p>To add a match to a student, select the student's name on the left and choose from the available alumni on the right. Any alumn can be added regardless of their match score. When you select an alumn, you will see their profile information and have
        the option to add a match or remove a match.</p>
      <h4>How do I add a match for a specific alumn?</h4>
      <p>Follow the proceedures above for adding a match to a student. All matches must be added based on the student profile.</p>
      <h4>How do I know if a student has participated in a previous quarter?</h4>
      <p>On every students' profile, it will display the quarters they have participated in, including the current quarter. If a quarter does not appear there that should, there could be two reasons for this: (1) the profile has no quarter assocated with
        this. To add a quarter to a student's profile, click on the student's name to open their record form and edit the form to include the quarter. (2) A quarter may also not appear because the student is using a different name. This can be fixed by
        editing the full name of the student to match the entry from previous quarters or vica versa.</p>
      <h4>How do I know if a student has any matches for the current quarter?</h4>
      <p>The number next to each student entry on the left corresponds with the current matches for that student. A list of these matches is available on the profile for each student on the top right corner</p>
      <h4>How do I know if an alumn has any matches for the current quarter?</h4>
      <p>Alumni matches can be seen by clicking on the alumn's name from any student profile. It will show the number of lifetime matches that alumn has had and list all matches by quarter for that alumn, including the current quarter.</p>
      <h4>What if a quarter doesn't show up to filter?</h4>
      <p>You have to add quarters to the filter options to get new quarters to show up. To do this, simply click on the "Add Quarter" button and type in the name of the quarter in the box. Make sure the name matches how it is written on the student records
        for the filtering to work correctly. </p>
      <h2 id="profiles">Alumni Profiles</h2>
      <h4>How do I make certian alumni available or not available for matches?</h4>
      <p>To edit the availability status of alumni for meetups, you can go to the alumni profiles page and find the alumn in question. Click on the card for that alumni to edit their record and change the dropdown box to active or inactive. All changes will
        take effect immediately.</p>
      <h4>Why isn't an alumn showing up to match with a student?</h4>
      <p>Alumni profiles must be set to active to show up in the matching page for students. Follow the directions above to set a profile to active.</p>
      <h4>What are lifetime matches?</h4>
      <p>Lifetime matches is how many students any given alumni has been paired with since the creation of this plugin in spring 2016. Lifetime matches is reported as the number next to each alumni's name on the alumni profiles page and in the dialogue window
        that appears when matching an alumni with a student. You can see the list of those matches from the matching dialogue window or by editing the record (clicking on the alumni profile card) for the alumni.</p>
      <h4>What if an alumn's information has changed?</h4>
      <p>Any alumni profile can be updated at any time by clicking on the card for that alumni in the profile page. Simply edit the fields available and save to update their profile (and thus their match score) in the plugin.</p>
      <h2 id="communication">Communications Dashboard</h2>
      <h4>How can I change where an email is sent?</h4>
      <p>You can change any email address in the to, cc, or bcc fields. Add multiple emails by seperating them with a comma.</p>
      <h4>How do I change the match information that is sent?</h4>
      <p>Match information (name, title, and email) are sent automatically in every email. To change who is matched, update the match in the matching page. Add additional information about the match in the body of the email message.</p>
      <h4>Can I preview the email before it is sent?</h4>
      <p>Yes! Just change the to email address to your own email and hit send!</p>
      <h4>Can I save a draft of an email?</h4>
      <p>Unfortunately, no. Any changes made to an email will automatically reset when you switch to a different student and back again. If you are working on a draft and want to save it, the best way would be to email the draft to yourself and finish the
        email from you mail client.</p>
    </div>

  </script>

  <script type="text/ng-template" id="mshe-meet-ups-alumnus">
    <div ng-repeat="alumnus in alumni | filter:{id:alumnusId}">
      <h2 class="center">{{ alumnus.name }}, MS{{ alumnus.field356705 | limitTo: -2 }}</h2>
      <p class="center placeholder details">{{ alumnus.field356686 }}
        <br />{{ alumnus.field356687 }}</p>
      <p class="center"><i class="icon-location"></i> {{ alumnus.field356688 }}, {{ alumnus.field356689 | limitTo: -2 }}</p>
      <div class="row bg-info">
        <div class="col-xs-6 center v-center">
          <h3 class="number"><span ng-repeat="item in matchStrength | filter:{id:alumnusId}" ng-class="{'number-warning':item.value > 30 && item.value < 80, 'number-success':item.value >= 80, 'number-danger':item.value <= 30}">{{ item.value }}</span><span ng-hide="(matchStrength | filter:{id:alumnusId}).length">N/A</span></h3>
          <p>Match Score</p>
        </div>
        <div class="col-xs-6 center">
          <h3 class="number">{{ alumnus.field356697 | number: 0 }}</h3>
          <p>Lifetime Matches</p>
        </div>
      </div>
      <div class="row">
        <br>
      </div>
      <div class="row">
        <div class="col-xs-7">
          <div class="panel panel-default">
            <div class="panel-heading"><i class="icon-list-alt"></i> Details</div>
            <div class="panel-body">
              <p><i class="icon-bank"></i> {{ alumnus.field363985 }}</p>
              <p><i class="icon-tasks"></i> {{ alumnus.field358083 }}</p>
              <p><i class="icon-user-2" ng-if="alumnus.field363997 <= 1"></i><i class="icon-users-2" ng-if="alumnus.field363997 > 1"></i> Interested in {{ alumnus.field363997 }} match<span ng-if="alumnus.field363997 > 1">es</span></p>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading"><i class="icon-tag"></i> Work Areas</div>
            <div class="list-group">
              <a href="#" ng-repeat="interest in alumnus.field356706" class="list-group-item">{{ interest }}</a>
            </div>
            <div class="panel-footer" ng-if="alumnus.field363984 != null"><em>Comments: {{ alumnus.field363984 }}</em></div>
          </div>
        </div>
        <div class="col-xs-5">
          <h4>Student Matches</h4>
          <div class="list-group">
            <a href="#" class="list-group-item" ng-repeat="match in matches | filter:{'field356696':alumnus.id}"> {{ match.field356698.name }} <span class="label label-default">{{ match.field410925 }}</span></a>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="mshe-meet-ups-settings">
    <div class="title">
      <h1>{{text}}</h1>
      <label>Alumni Form:</label>
      <select ng-model="alumniForm" ng-options="form.name for form in forms"></select>
      <br>
      <label>Student Form:</label>
      <select ng-model="msheMeetUpsSettingsCntl" ng-options="form.name for form in forms"></select>
    </div>
  </script>
